html{
  height: 100%;
}

.cheminementrond{
    display: block;
    padding-top: 3vh;
    margin: 0 auto;
    padding-left: 18vh;
    z-index: 1;
    &:first-child{padding-top: 35vh;}
}

.rond{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-content: center;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    &:before{
        width: 200px;
        height: 200px;
        background-color: white;
        top : 1%;
        left: -13%;
        transform: translate(calc(-5px- 50%), calc(-5px -50%));
        content: " ";
        position: absolute;
        border-radius: 100%;
        z-index: -1;
    }
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#EC2F29),to(#F0B72C)) fixed;
  z-index: -3;
  
#descriptionCours{position:sticky;
                    bottom: 10%;
                    left: 10%;
                    width: 80%;

                    padding: 30px;
                    background: rgba(255,255,255, 0.9);
                    z-index: 10;
                    
                    span{position: absolute;
                         top:20px;
                         right: 30px;
                         height: 30px;
                         width:30px; 
                         border-radius: 15px;
                         font-size : 1.25em;
                         text-align:center;
                         cursor: pointer;
                         background: black;
                         color: white;
                    }

                    &::after{content:"";
                            position:absolute;
                            top:0;
                            left:0;
                            width: 5px;
                            height:5px;
                            border-radius: 3px;
                            animation: animBorderDescriptAfter 5s infinite;
                            }
                    &::before{content:"";
                            position:absolute;
                            top:0;
                            left:0;
                            width: 5px;
                            height:5px;
                            border-radius: 10px;
                            animation: animBorderDescriptBefore 5s infinite;
                            }
                }

}

.animOuverture{
  animation: animDescription 0.5s forwards;
}

@keyframes animDescription{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

.animFermeture{animation: animFermetureDescription 0.5s forwards;}

@keyframes animFermetureDescription{
  from{transform: scale(1);}
  to{transform: scale(0);}
}

@keyframes animBorderDescriptAfter{
  from{left:0%; 
      top:0; 
      transform: rotate(0deg); 
      background-color: blue;}

  20%{transform: rotate(0deg);
    background-color: green;}
  22%{transform: rotate(90deg);
    background-color: black;}

  25%{left:99.6%;
      top:0;
      background-color: yellow;}

  45%{transform: rotate(90deg);
    background-color: red;}
  47%{transform: rotate(180deg);
    background-color: black;}

  50%{left:99.6%;
      top:99%;
      background-color: orange;}

  70%{transform: rotate(180deg);
    background-color: green;}
  72%{transform: rotate(270deg);
    background-color: purple;}

  75%{left:0%;
      top:99%;
      background-color: black;}

  97%{transform: rotate(270deg);
    background-color: blue;}

  to{left:0%;
    top:0%;
    transform: rotate(360deg);
    background-color: blue;}
}

@keyframes animBorderDescriptBefore{
  from{left:99.6%; 
      top:99%; 
      transform: rotate(0deg); 
      background-color: blue;}

  20%{transform: rotate(0deg);
    background-color: green;}
  22%{transform: rotate(90deg);
    background-color: black;}

  25%{left:0;
      top:99%;
      background-color: yellow;}

  45%{transform: rotate(90deg);
    background-color: red;}
  47%{transform: rotate(180deg);
    background-color: black;}

  50%{left:0;
      top:0%;
      background-color: orange;}

  70%{transform: rotate(180deg);
    background-color: green;}
  72%{transform: rotate(270deg);
    background-color: purple;}

  75%{left:99.6%;
      top:0%;
      background-color: black;}

  97%{transform: rotate(270deg);
    background-color: blue;}

  to{left:99.6%;
    top:99%;
    transform: rotate(360deg);
    background-color: blue;}
}