html{
  height: 100%;
}
.cheminementrond{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: block;
    margin: 0 auto;
    padding-left: 18vh;
    z-index: 1;
    &:first-child{padding-top: 35vh;}
}

.rond{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-content: center;
    position: relative;
    margin-right: 30px;
    &:before{
        width: 200px;
        height: 200px;
        background-color: white;
        top : 1%;
        left: -13%;
        transform: translate(calc(-5px- 50%), calc(-5px -50%));
        content: " ";
        position: absolute;
        border-radius: 100%;
        z-index: -1;
    }
}


#triangle{
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  0%   {top: 100px; left: -1000px; fill: red;}
  100% {top: 0px; left: 120%; fill: green;}
}
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#EC2F29),to(#F0B72C)) fixed;
  //background: linear-gradient(0deg, #F0B72C 0%, #EC2F29 51%, #00527F 75%);
  z-index: -2;
  
#descriptionCours{position:fixed;
                    top: 20%;
                    left: 10%;
                    width: 80%;
                    padding: 30px;
                    background: rgba(255,255,255, 0.9);
                    
                    span{position: absolute;
                         top:20px;
                         right: 30px;
                         height: 30px;
                         width:30px; 
                         border-radius: 15px;
                         font-size : 1.25em;
                         text-align:center;
                         cursor: pointer;
                         background: black;
                         color: white;
                    }
                }

}
