html {
  height: 100%;
}

.cheminementrond p {
  color: #00527F;
  font-family: SansationLight;
}

.cheminementrond {
  margin: 0 50px;
  display: block;
  position:relative;
  padding: 0;
  z-index: 1;

  &:first-child {
    padding-top: 35vh;
  }
}

.cheminementrond h3 {
  color: white;
}

.rond {
  margin: 0 0 30px 30px;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border: solid #00527F;
  border-radius: 100%;
  align-content: center;
  position: relative;

  &:before {
    width: 200px;
    height: 200px;
    background-color: white;
    top : 1%;
    left: -13%;
    transform: translate(calc(-5px- 50%), calc(-5px -50%));
    content: " ";
    position: absolute;
    border-radius: 100%;
    z-index: -1;
  }
}

.rond :hover {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#0052AF),to(#00527F)) fixed;
  z-index: -3;
  
  .noSession {
    color: white;
  }

  #descriptionCours {
    position: absolute;
    overflow-y:scroll;
    overflow-x:hidden;
    top: 0;
    left: 0;
    height: 55%;
    padding: 50px;
    margin: 0 25%;
    background: rgba(255,255,255, 0.95);
    z-index: 10;
    width: 50%;
    text-align:justify;
  
    .nomCoursDescription{
      text-align:center;
      color:#00527F;
      display:block;
    }

    span {
      position: absolute;
      top:20px;
      right: 30px;
      height: 30px;
      width:30px; 
      border-radius: 15px;
      font-size : 1.25em;
      text-align:center;
      cursor: pointer;
      background: #00527F;
      color: white;
    }
  
    &::after {
      content:"";
      position:absolute;
      top:0;
      left:0;
      width: 5px;
      height:5px;
      border-radius: 3px;
      animation: animBorderDescriptAfter 5s infinite;
    }
  
    &::before {
      content:"";
      position:absolute;
      top:0;
      left:0;
      width: 5px;
      height:5px;
      border-radius: 10px;
      animation: animBorderDescriptBefore 5s infinite;
    }
  }
}

.animOuverture {
  animation: animDescription 0.5s forwards;
}

@keyframes animDescription {
  from {
    transform: scale(0);
    border-radius: 100%;
  }

  to {
    transform: scale(1);
    border-radius: 0%;
  }
}

.animFermeture {
  animation: animFermetureDescription 0.5s forwards;
}

@keyframes animFermetureDescription {
  from{
    transform: scale(1);
    border-radius:0%;
  }

  to {
    transform: scale(0);
    border-radius:100%;
  }
}

@keyframes animBorderDescriptAfter {
  from {
    left:0%; 
    top:0; 
    transform: rotate(0deg); 
    background-color: blue;
  }

  13% {
    width: 35px;
  }    
  
  20% {
    transform: rotate(0deg);
    background-color: green;
  }

  22% {
    transform: rotate(90deg);
    background-color: #00527F;
    width: 5px;
  }

  25% {
    left:99.6%;
    top:0;
    background-color: yellow;
  }
      
  45% {
    transform: rotate(90deg);
    background-color: red;
  }
  
  47% {
    transform: rotate(180deg);
    background-color: #00527F;
  }

  50% {
    left:99.6%;
    top:99%;
    background-color: orange;
    width: 5px;
  }

  63% {
    width: 35px;
  }

  70% {
    transform: rotate(180deg);
    background-color: green;
  }

  72% {
    transform: rotate(270deg);
    background-color: purple;
    width: 5px;
  }

  75% {
    left:0%;
    top:99%;
    background-color: #00527F;
  }

  97% {
    transform: rotate(270deg);
    background-color: blue;
  }

  to {
    left:0%;
    top:0%;
    transform: rotate(360deg);
    background-color: blue;
  }
}

@keyframes animBorderDescriptBefore {
  from {
    left:99.6%; 
    top:99%; 
    transform: rotate(0deg); 
    background-color: blue;
  }

  13% {
    width: 35px;
  }  

  20% {
    transform: rotate(0deg);
    background-color: green;
  }

  22% {
    transform: rotate(90deg);
    background-color: #00527F;
    width: 5px;
  }

  25% {
    left:0;
    top:99%;
    background-color: yellow;
  }

  45% {
    transform: rotate(90deg);
    background-color: red;
  }

  47% {
    transform: rotate(180deg);
    background-color: #00527F;
  }

  50% {
    left:0;
    top:0%;
    background-color: orange;
    width: 5px;
  }

  63% {
    width: 35px;
  }

  70% {
    transform: rotate(180deg);
    background-color: green;
  }

  72% {
    transform: rotate(270deg);
    background-color: purple;
    width: 5px;}

  75% {
    left:99.6%;
    top:0%;
    background-color: #00527F;
  }

  97% {
    transform: rotate(270deg);
    background-color: blue;
  }

  to {
    left:99.6%;
    top:99%;
    transform: rotate(360deg);
    background-color: blue;
  }
}

.cheminementrond hr {
  border: 4px solid white;
}

/////////////////////////////////////////////////////////Début media querries
//Téléphone
@media screen and (max-width: 750px) {
  body #descriptionCours {
    margin: 0;
    width: 80%;
    top: 50px;
  }
} 

// Desktop
@media screen and (min-width: 1281px) {
  .cheminementrond {
    margin: 0 150px;
  }

  #descriptionCours {
    margin: 0 150px;
  }  
}