.sectionEnseignants p {
    color: #00527F;
    font-family: SansationLight;
    font-size: 1.39em;
    font-weight: bold;
  

    
}

.categorieProf {
    color: white;
    text-shadow: -0.5px -0.5px 0 #679cff, -1px -1px 0 #679cff, -1.5px -1.5px 0 #679cff, -2px -2px 0 #679cff, -2.5px -2.5px 0 #679cff, 2px 2px 2px rgba(65,81,206,0);
}

#descriptionProf {
    display: flex;
    position: sticky;
    bottom: 20%;
    left: 12.5%;
    width: 70%;
    padding: 30px;
    z-index: 10;
    background: rgba(255,255,255, 0.95);
    width: 50%;
    overflow-y:scroll;
    
    &::-webkit-scrollbar{display:none;}
    
    span {
        position: absolute;
        top: 2vw;
        right: 4vw;
        height: 30px;
        width: 30px; 
        border-radius: 15px;
        font-size : 1.25em;
        text-align: center;
        cursor: pointer;
        background: #00527F;
        color: white;
    }

    p {
        margin: 0 4%;
        margin-top: 0.2%;
        text-align: justify;
        font-size: 14px;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        align-items : center;
    }

    img {
        border-radius:10px;
        height: 20vw;
        width: 20vw;
        max-width: 30vw;
        margin-right: 4%;
        margin-top: 1%;
        object-fit: cover;
    }
}

h2 {
    padding-left: 20px;
}

#divCreatif {
    padding: 0;
    margin-left: 50px;
    width: 40%;
    float: left;
}

#divLogique {
    padding: 0;
    width: 49%;
    float:right;
    border-left: 10px solid white;
}

.boutonProf {
    padding: 0;
    background: url("../img/polygoneProf.png");
    width:221px;
    height:208px;
    border: none;
    display:block;
    margin-left: 5%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        line-height: 0.3em;
    }

    &:nth-child(odd) {
        margin-left: 40%;
    }
}

.boutonProf:hover {
    cursor: pointer;
}

/////////////////////////////////////////////////////////Début media querries
// Téléphone
@media screen and (max-width: 600px) {
    #descriptionProf {
        bottom: 5%;
    
    }

    #divCreatif {
        width: 100%;
        float: center;
    }

    #divLogique {
        margin-right: 50px;
        width: 100%;
        float: center;
        border: none;
    }

    .boutonProf {
        margin: 0 auto;  
    }
}

@media screen and (max-width: 1280px) {
    #descriptionProf p {
        font-size: 12px;
    
    }
    #descriptionProf  {
        width: 75%;
    }

    #divLogique {
        padding-left: 10px;
        width: 47%;
    }

    .boutonProf {
        margin: 0;  

        &:nth-child(odd) {
            margin-left: 0%;
        }
    }
}

// Desktop
@media screen and (min-width: 1281px) {
    #divCreatif {
        margin-left: 150px;
        width: 35%;
    }


    #descriptionProf  {
        width: 75%;
    }
    
}