.categorieProf{
    color: white;
}
#descriptionProf{
    display: flex;
    position: sticky;
    bottom: 10%;
    left:12.5%;
    width: 70%;
    padding: 30px;
    z-index: 10;
    background: rgba(255,255,255, 0.95);
    
    span{
        position: absolute;
        top: 2vw;
        right: 6vw;
        height: 30px;
        width: 30px; 
        border-radius: 15px;
        font-size : 1.25em;
        text-align: center;
        cursor: pointer;
        background: black;
        color: white;
    }

    p{
        margin: 0 4%;
        margin-top: 0.2%;
        text-align: justify;
        font-size: 1.2vw;
    }

    img{
        border-radius:10px;
        height: 28vw;
        max-width: 30vw;
        margin-right: 5%;
        margin-top: 1%;
        
    }
}

#divCreatif{width:49%;
            float:left;
}

#divLogique{width:49%;
            float:right;
            border-left: 10px solid white;
}

.boutonProf{background: url("../img/polygoneProf.png");
            width:221px;
            height:208px;
            border: none;
            display:block;
            margin-left: 5%;
            margin-top: 2em;

            &:nth-child(odd){
                margin-left: 50%;
            }
    }