#enteteGeneral {
    padding: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
    align-content: stretch;
    z-index: 1;
}

#enteteGeneral a {
    padding: 0;
    margin: 0;
    max-width: 30%;
    height:auto;
    z-index: 1;
    text-decoration: none;
}

#enteteGeneral a:hover {
    text-decoration: underline;
}

#enteteGeneral .logotim {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    width: auto;
    width: auto\9; //réajuste la section pour internet explorer
    z-index: 1;
}

#enteteGeneral .titreEntete {
    font-family: 'Bruno Ace SC Regular'; 
        src: url('../fonts/Bruno Ace SC Regular.ttf');
    color: white;
    text-shadow: -0.5px -0.5px 0 #679cff, -1px -1px 0 #679cff, -1.5px -1.5px 0 #679cff, -2px -2px 0 #679cff, -2.5px -2.5px 0 #679cff, 2px 2px 2px rgba(65,81,206,0);
    font-size: 3vw;
    font-weight: 100;
    line-height: 90%;
    padding: 0 0 7px 10px;
    margin: 0;
    flex-grow: 1;
    z-index: 1;
}

#boiteABurger {
    position: absolute;
    right: 50px;
    
    height: 60px;
    padding-bottom: 0px;
    margin: 0;
    z-index: 1;
}


#menuBurger{ 
    width: 120px;
    //120px
    height: 60px;
    //max-height: 60px;
    //60px
    overflow: hidden;
    
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    background-color: white;
    outline: #00527F solid 3px;

    transition: height 1s;
    
    #front {
        
        /*margin-bottom: 20px;
        padding: 1em;*/
        width: 115px;
        height: 50px;
        background-color: rgba($color: #ffffff, $alpha: 0);
    
        img {
            width: 30px;
            margin-top: 10px;
            margin-left: 10px;
            
        }

        div {
            display: inline;
            margin-left: 15px;

            ul {
                padding: 0;
                list-style-type: none;
                margin-left: 10px;

                a {
                    font-family: SansationLight;
                    color: #00527F;
                    font-weight: bold;
                }
            }
        }
    }
}

#menuBurger:hover, #menuBurger:hover::before {
    height: 170px;
}

#boiteABurger:hover {
    height: 60px;
}

#menuBurger::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 115px;
    max-height: 115px;
    border: #00527F solid 3px;
    position: absolute;

    //translate(37px,-75px)
    transform: translate(37px,-75px) rotate(90deg) skewY(-40deg);
    background-color: white;
}


#menuBurger::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 60px;
    border: #00527F solid 3px;
    position: absolute;
    
    transition: height 1s;
    transform: translate(-22px,-15px) skewY(50deg) ;
    background-color: white;
}


.ligneSeparatrice {
    border: 4px solid white;
    margin: 0 50px;
    z-index: 2;
}

.titrePage {
    font-family: 'Bruno Ace SC Regular'; 
    src: url('../fonts/Bruno Ace SC Regular.ttf');
    color: white;
    text-shadow: -0.1vw -0.1vw 0 #679cff, -0.2vw -0.2vw 0 #679cff, -0.3vw -0.3vw 0 #679cff, -0.4vw -0.4vw 0 #679cff, -0.5vw -0.5vw 0 #679cff, 2px 2px 2px rgba(65,81,206,0);
    font-size: 5vw;
    padding: 0 10vw;
    margin: 0;
    z-index: 2;
}

/////////////////////////////////////////////////////////Début media querries
// Téléphone
@media screen and (max-width: 600px) {
    #enteteGeneral .titreEntete {
        display: none;
    }

    .titrePage {
        font-size: 5vw;
        padding: 0 75px;
    }    

    #boiteABurger{
        right: 50px;
    }

    #menuBurger{ 
        width: 70px;
        //120px
        height: 40px;
        //max-height: 60px;
        //60px
        overflow: hidden;
        
        align-self: center;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        background-color: white;
        outline: #00527F solid 3px;
    
        transition: height 1s;
        
        #front {
            
            
            width: 100%;
            height: 100%;
            margin-bottom: 0;
            padding: 0;
            background-color: rgba($color: #ffffff, $alpha: 0);
        
            img {
                width: 20px;
                
            }
    
            div {
                display: inline;
                margin-left: 15px;
    
                ul {
                    padding: 0;
                    list-style-type: none;
                    font-size: 10px;
                    
    
                    a {
                        font-family: SansationLight;
                        color: #00527F;
                    }
                }
            }
        }
    }
    
    #menuBurger:hover, #menuBurger:hover::before {
        height: 110px;
    }
    
    #boiteABurger:hover {
        height: 60px;
    }
    
    #menuBurger::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 70px;
        max-height: 115px;
        border: #00527F solid 3px;
        position: absolute;
    
        //translate(37px,-75px)
        transform: translate(21px,-46px) rotate(90deg) skewY(-40deg);
        background-color: white;
    }
    
    
    #menuBurger::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 38px;
        border: #00527F solid 3px;
        position: absolute;
        
        transition: height 1s;
        transform: translate(-16px,-10px) skewY(50deg);
        background-color: white;
    }
}

// Desktop
@media screen and (min-width: 1281px) {
    #enteteGeneral {
        padding: 50px 150px;
    }

    #enteteGeneral a {
        max-width: 20%;
    }

    #enteteGeneral .titreEntete {
        font-size: 1.5vw;
    }    
    
    .ligneSeparatrice {
        margin: 0 150px;
    }
    
    #boiteABurger{
        right: 150px;
    }

    .titrePage {
        font-size: 5vw;
        padding: 0 175px;
    }    
}