#enteteGeneral {
    padding: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
    align-content: stretch;
}

#enteteGeneral a {
    padding: 0;
    margin: 0;
    max-width: 30%;
    height:auto;
}

#enteteGeneral .logotim {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    width: auto;
    width: auto\9; //réajuste la section pour internet explorer
}

#enteteGeneral .titreEntete {
    font-family: 'Bruno Ace SC Regular'; 
        src: url('../fonts/Bruno Ace SC Regular.ttf');
    color: white;
    font-size: 3vw;
    font-weight: 100;
    line-height: 90%;
    padding: 0 0 7px 10px;
    margin: 0;
    flex-grow: 1;
}

#menuBurger{ 
    width: 120px;
    
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    background-color: white;
    outline: #000000 solid 3px;

    #front {
        
        padding: 1em;
        width: 120px;
        background-color: rgba($color: #ffffff, $alpha: 0);
    
        img{
            width: 24px;
            
        }

        div{
            display: inline;
            
            margin-left: 15px;
            width: 30px;
        }
    }


    
}


#menuBurger::after{
    content: "";
    display: inline-block;
    width: 25px;
    height: 70px;
    border: black solid 3px;
    position: absolute;
    
    
    transform: skewY(50deg) translate(50px,0px);
    background-color: white;
}


.ligneSeparatrice {
    border: 4px solid white;
    margin: 0 50px;
}

.titrePage {
    font-family: 'Bruno Ace SC Regular'; 
    src: url('../fonts/Bruno Ace SC Regular.ttf');
    color: white;
    font-size: 5vw;
    padding: 0 10vw;
    margin: 0;
}

/////////////////////////////////////////////////////////Début media querries
// Téléphone
@media screen and (max-width: 600px) {
    #enteteGeneral .titreEntete {
        display: none;
    }

    .titrePage {
        font-size: 5vw;
        padding: 0 75px;
    }    

    #menuBurger{
        margin-left: 300px;
    }
}

// Desktop
@media screen and (min-width: 1281px) {
    #enteteGeneral {
        padding: 50px 150px;
    }

    #enteteGeneral a {
        max-width: 20%;
    }

    #enteteGeneral .titreEntete {
        font-size: 1.5vw;
    }    
    
    .ligneSeparatrice {
        margin: 0 150px;
    }

    .titrePage {
        font-size: 5vw;
        padding: 0 175px;
    }    
    
}