footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#colophon{
  background-color: #00527F;
  padding-top: 3px;
}
#colophon div div { 
  margin: 0 auto;
  width: 210px !important;

  a img {
    width: fit-content;
    height: fit-content;
  }
}