footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #00527F;
  padding-top: 3px;
  display:table;
  justify-content:center;
  text-align: center;
}

#colophon div div { 
  width: fit-content !important;

  a img {
    width: fit-content;
    height: fit-content;
  }
}