@font-face{
    font-family: 'Bruno Ace SC Regular';
    src: url('../fonts/Bruno Ace SC Regular.ttf');
}

#page{
    width: 100vw;
    height: 100vh;
}

.accueilMain {
    position: absolute;
    top: 50vh;
    left: 50vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.logotim {
    padding-right: 100px;
}

.titreTimAccueil {
    font-family: 'Bruno Ace SC Regular'; 
    text-align: center;
    font-size: 1.5em;
    height: fit-content;
    color: white;
    margin: 0 auto;
    //margin-top: -15% !important;
}

/////////////////////////////////////////////////////////Début media querries
// Téléphone
@media screen and (max-width: 750px) {
    .logotim {
        max-width: 20em;
        height: auto;    
        padding: 0;
    }

    .titreTimAccueil {
        font-size: 1em;
    }    
}