@font-face {
    font-family: SansationLight;
        src: url(../fonts/Sansation-Light.ttf);
}  

body {
    font-family: "Roboto-Regular";
        src: url('../fonts/Roboto-Regular.ttf');
    &::-webkit-scrollbar{width:20px}
}