
section{
    width: 100%;
    margin: 4em 0;
    margin-right: 0;
    margin-left: 75px;
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    

    row-gap: 3em;
    column-gap: 0em;

    line-height: 0;
    z-index: 1;
    
}

.projet{
    width: 80%;
    height: auto;
    border: black solid 4px;
    margin-right: 5%;
    
    //Wtf le fichier simple-grid fuck up mes trucs, pourquoi ?!
    line-height: 0;

    h2{
        position: absolute;
        z-index: 1;

        margin-left: 1.5%;

        color: white;
        text-shadow: black;

        font-size: 2.5vw;

        //Empecher lutilisateur de cliquer sur le titre
        pointer-events: none;

    }

    video, img{
        width: 100%;
        height: 100%;

        max-height: 700px;
        max-width: 1244.44px;

        z-index: 0;
    }

    .description{
        position: absolute;
        height: 45vw;
        width: 80vw;
        opacity: 0;
        transform: translate(0%,-100%);
        background-color: black;

        p{
            //Vertical, horizontal
            margin: 10% 5%;

            color: white;

            overflow-wrap: break-word;
            text-align: justify;
            text-align-last: left;
            font-size: 1.5vw;
            
            pointer-events: none;
           
            a{
                pointer-events: none;
                color: #49e4ff;
            }
        }

        span, i{
            display: inline-block;
            color: #49e4ff;
        }
    }
    
}


.projet::before{
    content: "";
    width: 1rem;
    height: 45vw;
    background-color: white;
    border: black solid 4px;

    position: absolute;
    z-index: -1;

    transform: translate(-27px,-13.5px) skewY(40deg);
}

.projet::after{
    content: "";
    width: 51.3vw;
    height: 3.1%;

    background-color: white;
    border: black solid 4px;

    position: absolute;
    z-index: -1;

    transform: translateX(22%) rotate(-50deg) skewY(50deg);
}





// Desktop
@media screen and (min-width: 1281px) {

    section{
       width: 85%;
       margin-left: 170px;
        
        grid-template-columns: 1fr 1fr;
    }

   .projet 
   {
        
        width: inherit;

        .description
        {
      
            height: 20.5vw;
            width: 36.3vw;

            p{
                margin: 15% 5%;
                font-size: 1vw;
            }
        }
   }

    .projet::before{
        content: "";
        width: 1rem;
        height: 20.35vw;
        background-color: white;
        border: black solid 4px;
    
        position: absolute;
        z-index: -1;
    
        transform: translate(-27px,-14px) skewY(40deg);
    }

    .projet::after{
        content: "";
        width: 23.1vw;
        height: 3%;
        background-color: white;
        border: black solid 4px;
    
        position: absolute;
        z-index: -1;
    
        margin-top: -22.4%;
        
        transform: translateX(23%) rotate(-50deg) skewY(50deg);
    }
}

//Animation @keyframes
.fade-in{
    animation: fadeIn 1s infinite alternate;
    
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 0.90;
    }
}